[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-asteroid-meteormatch
Exec=harbour-asteroid-meteormatch
Name=Meteor Match
Comment=Match falling rocks

[X-Sailjail]
# First test build: not sandboxed. A store build needs
# OrganizationName, ApplicationName and a Permissions list instead.
Sandboxing=Disabled
